<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.pool_size">20</property>
        <property name="hibernate.transaction.jta.platform"></property>
        <mapping class="com.ideas2it.cms.model.Student" />
        <mapping class="com.ideas2it.cms.model.Grade" />
        <mapping class="com.ideas2it.cms.model.SpecialClass" />
        <mapping class="com.ideas2it.cms.model.UniformMeasurement" />
    </session-factory>
</hibernate-configuration>